<div class="flex flex-col items-center border rounded-lg shadow md:flex-row w-full lg:max-h-[550px] object-scale-down border-gray-700 bg-gray-800 ">
  <div class="w-auto">  
    <img class=" w-full rounded-t-lg h-96 md:h-full md:rounded-none md:rounded-l-lg object-cover" src="{{ selectedCharacter.thumbnail.path }}.{{ selectedCharacter.thumbnail.extension }}" alt="">
  </div>
  <div class="flex flex-col justify-center w-full">
    <div class="flex justify-center">
      <p class="mb-2 text-2xl font-bold text-white text-center">{{ selectedCharacter.name | uppercase}} Details</p>
    </div>
    <div class="flex flex-row justify-between items-center p-4">
      <h5 class="text-2xl font-bold text-white">ID: </h5>
      <p class="font-normal text-gray-400">{{ selectedCharacter.id }}</p>
    </div>
    <div class="flex flex-row justify-between items-center p-4">
        <h5 class="text-2xl font-bold  text-white">Character name: </h5>
        <p class="font-normal text-gray-400">{{ selectedCharacter.name }}</p>
    </div>
    <div class="flex justify-center">
      <p class="font-normal text-gray-400 text-center">{{ selectedCharacter.name }} aparece en un total de {{ selectedCharacter.comics.available}} comics</p>
    </div>
  </div>
</div>

<div class="flex flex-col justify-center items-center m-4">
  <button 
  (click)="goBack()" 
  class=" center text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-0 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
  Go Back
</button>
</div>


