<div class="flex flex-col w-full">
    <div class="mb-6 w-72 md:w-96">
        <input placeholder="Buscar por nombre" #inputSearch (input)="search(inputSearch.value)" type="text" id="input-search" class=" border text-sm rounded-lg block w-full p-2.5 bg-gray-500 border-gray-600 placeholder-gray-400 text-white ">
        <ul class="bg-gray-400 border-gray-600 text-white rounded">
            <li routerLink="/detail/{{ hero.id }}" class="cursor-pointer border-b-4 rounded w-full p-2.5 hover:bg-white hover:text-gray-400" *ngFor="let hero of heroesFound$ | async">
                <p>
                    {{ hero.name }}
                </p>
            </li>
        </ul>
    </div>
</div>