<div class="flex flex-col w-full">
    <div class="mb-6 w-72 md:w-96">
        <label for="input-search" class="block mb-2 text-sm font-medium text-white text-center">Buscar por nombre</label>
        <input placeholder="Spider-Man" #inputSearch (input)="search(inputSearch.value)" type="text" id="input-search" class=" border text-sm rounded-lg block w-full p-2.5 bg-gray-500 border-gray-600 placeholder-gray-400 text-white ">
        <ul class="bg-gray-400 border-gray-600 text-white rounded">
            <li class="border-b-4 rounded w-full p-2.5" *ngFor="let hero of heroesFound$ | async">
                <a routerLink="/detail/{{ hero.id }}">
                    {{ hero.name }}
                </a>
            </li>
        </ul>
    </div>
</div>